body{
    font-family: sans-serif;
}

.container{
    padding-top: 4%;
    padding-left: 10%;
    margin-top : 5%;
    margin-right:10%;
    margin-left:10%;
    padding-bottom: 1%;
    background: rgb(255, 255, 255);
}
h1{
    font-size: 5.0em;
}
.name{
    margin-top: 6.0em;
    margin-left: 2.0em;
    margin-bottom: 1.0em;
    width: 45%;
    float: left;
}
.pic{
    float: left;
    height: 300px;
    margin-left: 150px;
    border-radius: 400px;
    margin-top: 4.0em;
}
.contact{
    font-size: 25px;
    color: rgb(44, 116, 144);
}
.icon{
    height: 25px;
}
.des{
    font-size: 25px;
    margin-left: 2.0em;
    color: rgb(144, 156, 170);
    width: 48%;
}
a{
    color:rgb(90, 155, 155);
    text-decoration: none;
}
.more{
    color:rgb(90, 155, 155);
    font-size: 25px;
    margin-left: 13.0em;
    margin-top: 6.0em;
    margin-bottom: 3.0em;
    padding-left: 30px;
    cursor: pointer;
}
