.bg{
    position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:url("dd.png");
	background-size:cover;
	z-index:1;
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);	
}

body{
    font-family: sans-serif;
    cursor: default;
    background: rgb(255, 255, 255);
}

.container{
    padding-top: 4%;
    padding-left: 10%;
    margin-top : 5%;
    margin-right:10%;
    margin-left:10%;
    padding-bottom: 1%;
    background: rgb(255, 255, 255);
    filter: blur(0px);
    -webkit-filter: blur(0px);
    position: relative;
    z-index: 2;

}
h1{
    font-size: 5.0em;
}
.name{
    margin-top: 6.0em;
    margin-left: 2.0em;
    margin-bottom: 1.0em;
    width: 45%;
    float: left;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
.pic{
    float: left;
    height: 300px;
    margin-left: 150px;
    border-radius: 400px;
    margin-top: 4.0em;
}
.contact{
    font-size: 25px;
    color: rgb(44, 116, 144);
}
.icon{
    height: 25px;
}
.des{
    font-size: 25px;
    margin-left: 2.0em;
    color: rgb(144, 156, 170);
    width: 48%;
}

.more{
    color:rgb(90, 155, 155);
    font-size: 25px;
    margin-left: 13.0em;
    margin-top: 6.0em;
    margin-bottom: 3.0em;
    padding-left: 30px;
    cursor: pointer;
}